<div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-12">
            <div class="card">
              <div class="table-responsive">
                <table class="table table-vcenter card-table table-striped">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Nama Bank</th>
                      <th>Nomor Rekening</th>
                      <th>Nama Pemilik</th>
                      <th>Action</th>
                      <th class="w-1"></th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>